connexion
python_dateutil
setuptools
pymongo
docker-compose==1.22.0
docker
pykube
healthcheck
tornado
pykafka
git+https://github.com/mpauls/epm-client-python.git
orator
pymysql
keystonemiddleware
python-memcached
jsonpickle
kafka
requests
